body {
	width: 1366px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
}

h2, h3,h4 ,h5 {
	margin-top: 1px;
	margin-bottom: 25px;
	font-weight: normal;
	color: #53565a;
}

#pre {
	display: flex;
	flex-direction: column;
}

#title {
	background: #F2F2F2;
	padding-top: 20px;
	padding-bottom: 10px;
	padding-left: 20px;
	border-left: 1px solid #e1e9ef;
	border-right: 1px solid #e1e9ef;
}

#nav1 {
	display: flex;
	padding: 10px 20px;
    border-left: 1px solid #d0dde6;
    border-right: 1px solid #d0dde6;
    border-bottom: 0 solid #d0dde6;
	justify-content: space-between;
	border-top: 3px solid orange;
    box-shadow: 0 1px 1px 0 #c8c8c8;
}

#nav1l {
	display: flex;
	align-items: center;
	font-family: Roboto, serif;
    font-size: 24px;
    color: #53565a
}
#nav1l h2{
	margin: 10px;
	font-size: 24px;
	font-weight: bold;
}

#nav1l img {
	width: 40px;
	height: 40px;
	padding-right: 20px;
}

#nav1r {
	display: flex;
	font-family: 'Roboto', sans-serif;
	align-items: center;
}

#nav1r a {
	margin-right: 35px;
	margin-top: 10px;
	text-decoration: none;
	font-size: 14px;
    font-weight: 400;
    color: #327f97
}

#nav1r img {
	 width: 73px;
	 height: 40px;
}

#nav2 {
	display: flex;
	flex-direction: row;
	padding: 6px 20px;
    border-left: 1px solid #d0dde6;
    border-right: 1px solid #d0dde6;
    border-bottom: 2px solid rgb(200, 200, 200);
	justify-content: space-between;
}

#nav2l{
	margin: 15px 0px;
}

#nav2l a{
	text-decoration: none;
	margin-right: 35px;
	font-size: 18px;
    font-weight: 400;
    color: #327f97;
}

#nav2r {
	width: 24%;
	display: flex;
	border: 1px solid #cacaca;
}
#nav2r input {
	width: 80%;
	padding-left: 10px;
	border: 0;
}

#nav2r button {
	width: 20%;
	padding: 0;
	border: 0;
	background: white;
	
}
#nav2r button img { 
	height: 20px;
	width: 20px;
}


#search {
	display: flex;
}
#head {
	font-family: sans-serif;
    font-size: 26px;
    font-weight: 400;
    color: #53565a;
	margin: 0;
}


#main {
	background: #F2F2F2;
	padding: 10px;
	border-left: 1px solid #e1e9ef;
	border-right: 1px solid #e1e9ef;
	display: flex;
}

.temp {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	font-size: 13px;
    font-weight: bold;
    color: #53565a;
    padding: 15px;
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-bottom: 20px;
	height: 225px;
}
h3 {
	font-size: 20px;
}

.temp_det {
	display: flex;
	justify-content: space-between;
	padding: 7px 0px;
	align-items: center;
}

.temp_det select {
	width: 70%;
	padding: 4px;
}

.temp_det label {
	width: 24%;
}

.temp_det button {
	width: 100%;
	border: 1px solid #327F97;
	background-color: #498493;
	color: white;
	border-radius: 3px;
    font-size: 15px;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: 400;
    color: #FFFFFF;
    background-color: #498493;
	
}
.temp_det button:hover{
	background: #28badf;
}

.updates {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	font-size: 13px;
	padding: 15px;
	width: 90%;
	height: 216px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 20px;
	color: #4c94af
	
}

.updates h3 {
	color: #53565a;
	font-size: 20px;
}

.ups {
	padding-top: 5px;
	border-top: 1px solid #d0dde6;
	
}

.updates a {
	text-decoration: none;
	font-size: 16px;
	color: #498493;
}

.det {
	display: flex;
	justify-content: space-between;
	color: #aacddb;
}
.col_1 {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 29%
}

.col_2 {
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 75%
}

.img_1 {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	padding: 15px;
	display: flex;
	align-items: center;
    justify-content: center;
	margin-bottom: 20px;
}


.support {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	padding: 0 15px;
	width: 90%;
	height: 246px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	font-size: 14px;
	margin-bottom: 20px;
}

.support img {
	border-radius: 50%;
	width: 80px;
	display: flex;
	
}

#fayaz {
	display:flex;
	flex-direction: column;
	align-items: center;
}

.support h3 {
    font-size: 20px;
    font-weight: normal;
	margin: 0;
	color: #53565a;
}

.tabs {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	padding: 15px;
	width: 90%;
	height: 240px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	font-size: 15px;
}

.tabs h3 {
	color: orange;
	
}

.tabs a {
	text-decoration: none;
	font-size: 14px;
}

.tabhead {
	display: flex;
	justify-content: space-between;
}

#tab1 {
	margin-top: 5px;
	margin-bottom: -10px;
}

#tab2 {
	margin-top: 5px;
    margin-bottom: -10px
}

#tab2 h3{
	color: #53565a;

}

.linkcontainer {
	display: flex;
	margin-bottom: 5px;
}

.linkcontainer img {
	padding: 5px;
}

.links {
	display: flex;
	flex-direction: column;
	margin-left: 10px;
}

.slink {
	font-size: 12px;
	color: #327f97;	
	height: 14px;
	overflow: hidden;
}

#col_2_lower {
	display: flex;
	width: 100%;
	flex-direction: row;
}

#col_2_lower_l {
	display: flex;
	width: 60%;
	flex-direction: column;
}
#col_2_lower_l_1 {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	font-size: 15px;
	margin-bottom: 20px;
	height: 311px;
}

#col_2_lower_l_1 ul{
	padding-left: 10px;
	
}

#col_2_lower_l_1 ul{
	list-style: none;
}

#col_2_lower_l_1 ul li::before {
  content: "\2022";
  color: orange;
  font-weight: bold;
  display: inline-block; 
  width: 1em;
  margin-left: -10px;
  font-size: 20px;
}

#col_2_lower_l_2 {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;	
	font-size: 15px;
	height: 151px;
}

#col_2_lower_l_2 button {
    justify-content: center;
    border: 1px solid #327F97;
    background-color: #498493;
    color: white;
    border-radius: 3px;
    font-size: 15px;
    padding: 7px 20px 7px 20px;
    text-decoration: none;
    display: inline-block;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
    font-weight: 400;
    width: 34%;
}

#col_2_lower_l_2 button:hover{
	background: #28badf;
}

.fa-search{
	color: #327f97;
}

#col_2_lower_r {
	background: white;
	border-radius: 3px;
	box-shadow: 0 0 4px grey;
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;	
	font-size: 15px;
	margin-bottom: 20px;
	width: 35%;
	height: 512px;
	margin-left: 20px;
	
}

.video {
	padding: 25px 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.vtext {
	display: flex;
	justify-content: center;
	font-weight: 400;
    color: #327f97;
}

.footer {
	display: flex;
	justify-content: flex-end;
	background: #F2F2F2;
	color: #498493;
	font-weight: bold;
	padding-bottom: 20px;
	padding-right: 20px;
}

.footer a {
	text-decoration: none;
	color: #498493;
	font-weight: normal;
}