body {
	background-color: #e3e3e3;
	font-family: sans-serif;
	width: 600px;
	margin: auto;
}

blockquote {
	text-align: center;
	border: 1px solid white;
	margin-left: 0px;
}

/* https://www.youtube.com/watch?v=jnG3mtEhpRQ&list=PLgGbWId6zgaWZkPFI4Sc9QXDmmOWa1v5F&index=19 */